{% extends "accounts/admin/base.html" %}
{% block content %}

<h2>✏ Edit Note</h2>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <p>Title<br>
    <input type="text" name="title" value="{{ note.title }}" required>
  </p>

  <p>Description<br>
    <textarea name="description">{{ note.description }}</textarea>
  </p>

  <p>Replace File (optional)<br>
    <input type="file" name="file">
  </p>

  <p><strong>Assign Students</strong><br>
    {% for student in students %}
      <input type="checkbox" name="students" value="{{ student.id }}"
        {% if student in note.assigned_to.all %}checked{% endif %}>
      {{ student.username }}<br>
    {% endfor %}
  </p>

  <button type="submit">Update</button>
  <a href="{% url 'admin_notes_list' %}">Back</a>
</form>

{% endblock %}
