{% extends "accounts/admin/base.html" %}
{% block content %}

<h2>➕ Add Note</h2>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <p>Title<br><input type="text" name="title" required></p>

  <p>Description<br>
    <textarea name="description"></textarea>
  </p>

  <p>File (PDF/Image)<br>
    <input type="file" name="file" required>
  </p>

  <p><strong>Assign Students</strong><br>
    {% for student in students %}
      <input type="checkbox" name="students" value="{{ student.id }}">
      {{ student.username }}<br>
    {% endfor %}
  </p>

  <button type="submit">Save</button>
  <a href="{% url 'admin_notes_list' %}">Back</a>
</form>

{% endblock %}
