{% extends "accounts/admin/base.html" %}
{% block content %}

<h3>Upload Material – {{ lesson.title }}</h3>

<form method="post" enctype="multipart/form-data">
{% csrf_token %}

<input class="form-control mb-2" name="title" placeholder="Material Title">

<select name="material_type" class="form-control mb-2">
<option value="video">Video</option>
<option value="pdf">PDF</option>
<option value="image">Image</option>
<option value="note">Notes</option>
<option value="other">Other</option>
</select>

<input type="file" name="file" class="form-control mb-2">

<button class="btn btn-success">Upload</button>

</form>

{% endblock %}
