<h2>{{ assignment.title }}</h2>

<h3 id="timer" style="color:red;"></h3>

<form id="examForm" method="post"
      action="{% url 'assignments:submit_exam' assignment.id %}">
  {% csrf_token %}
    {% for q in questions %}
        <p><strong>{{ forloop.counter }}. {{ q.question_text }}</strong></p>
    
        <label><input type="radio" name="{{ q.id }}" value="A"> {{ q.option_a }}</label><br>
        <label><input type="radio" name="{{ q.id }}" value="B"> {{ q.option_b }}</label><br>
        <label><input type="radio" name="{{ q.id }}" value="C"> {{ q.option_c }}</label><br>
        <label><input type="radio" name="{{ q.id }}" value="D"> {{ q.option_d }}</label><br>
        <hr>
    {% endfor %}

    <script>
  const durationMinutes = {{ assignment.duration_minutes }};
  const startedAt = new Date("{{ submission.started_at|date:'c' }}");
  const now = new Date();
  let elapsedSeconds = Math.floor((now - startedAt) / 1000);

  let totalSeconds = (durationMinutes * 60) - elapsedSeconds;

  function startTimer() {
    if (totalSeconds <= 0) {
      document.getElementById("examForm").submit();
      return;
    }

    let minutes = Math.floor(totalSeconds / 60);
    let seconds = totalSeconds % 60;

    document.getElementById("timer").innerHTML =
      `Time Left: ${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;

    totalSeconds--;
    setTimeout(startTimer, 1000);
  }

  startTimer();
</script>
