{% extends "accounts/admin/base.html" %}
{% block content %}

<div class="form-wrapper">
<div class="form-card">

<h2>Add Trainer</h2>

<form method="post">
{% csrf_token %}

<label>Username</label>
<input name="username" required>

<label>Password</label>
<input type="password" name="password" required>

<label>Mobile</label>
<input name="mobile" required>

<label>Subject</label>
<input name="subject" required>

<br><br>

<button class="btn-primary">Create</button>
<a href="{% url 'trainer_list' %}">Cancel</a>

</form>

</div>
</div>

{% endblock %}
