{% extends "accounts/admin/base.html" %}
{% block content %}
<h2>Students</h2>

<a href="{% url 'student_add' %}">➕ Add Student</a>

<table border="1" cellpadding="10">
  <tr>
    <th>Username</th>
    <th>Courses</th>
    <th>Actions</th>
  </tr>

  {% for s in students %}
  <tr>
    <td>{{ s.user.username }}</td>
    <td>
      {% for c in s.courses.all %}
        {{ c.title }}{% if not forloop.last %}, {% endif %}
      {% empty %}
        No Courses
      {% endfor %}
    </td>
    <td>
      <a href="{% url 'student_edit' s.id %}">Edit</a> |
      <a href="{% url 'student_delete' s.id %}"
         onclick="return confirm('Are you sure?')">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>


{% endblock %}
